body { 
  font-family: sans-serif; 
  padding: 20px; 
  background: #f4f4f4
}

.panel { 
  max-width: 600px; 
  margin: auto; 
  background: white; 
  padding: 20px; 
  border-radius: 8px 
}

.tarjeta-vip { 
  background: #f3483c; 
  padding: 15px; 
  border-radius: 6px; 
  margin: 20px 0; 
  cursor: pointer
}

.habitacion { 
  background: #eee; 
  padding: 10px; 
  margin-bottom: 5px; 
  display: flex; 
  justify-content: space-between
}

.habitacion.limpia { 
  background: #16ac39; 
  color: #e7f0e9
}

button { 
  cursor: pointer 
}

ul {
  list-style: none;
  padding: 0
}